<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css"> <!-- I've spent several days trying to solve the "Refused to apply style..." error. Just make sure that the file names are correct -->
    <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon">
    <title>Todo List By DhaniDesigns</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-underline basic <%= currentBasic %>">
                <a href="/" class="nav-button <%= mainColor %>">Basic</a>
            </div>
            <div class="nav-underline work <%= currentWork %>">
                <a href="/work" class="nav-button <%= mainColor %>">Work</a>
            </div>
        </nav>
        <h1 class="<%= mainColor%>"><%= currentList %> List</h1>
    </header>
